* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.background {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.navigation {
    width: 100%;
    margin: 0 auto;
    background-color: #2a2a2a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.navigation>h1 {
    margin-left: 5%;
    position: absolute;
}

img {
    width: 65px;
    border-radius: 50px;
    float: left;
}

.logoutC {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    margin-top: 16px;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.logoutBtn {
    text-decoration: none;
    margin: 8px;
    margin-left: 5%;
    color: white;
    width: 65px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

.logoutBtn:hover {
    width: 200px;
}

.logoutBtn:hover .logoutC {
    opacity: .9;
}


.midContainer {
  margin-bottom: 100px;

display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
vertical-align: middle; 
}





.extra-buttons {
  border-radius: 20px;
  position: relative;
  height: 50px;
  padding: 2px;
  right: 0;
  display: none;
  background-color: #181818;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.extra-buttons button {
  
  padding: 10px;
  text-align: left;
}




/* Style the div container */
.bookNav {
  border-radius: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    display: inline-block;
  }
  
  /* Style the form element */
  form {
    display: flex;
    align-items: center;
  }
  
  /* Style the input element */
  .search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Style the buttons */
  .search-button,
  .book-button, .description-button, .author-button, .category-button {
    margin-right: 7.5px;
    margin-left: 7.5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  /* Assign different background colors to the buttons */
  .search-button {
    margin-right: 10px;
    background-color: #181818;
  }
  
  .book-button {
    background-color: #2196f3;
  }
  .description-button {
    background-color: #4caf50;
  }
  
  .author-button {
    background-color: #ff9800;
  }
  
  .category-button {
    background-color: #f44336;
  }
  
  /* Change the button background color on hover */
  .search-button:hover, .description-button:hover, .author-button:hover, .category-button:hover {
    opacity: 0.8;
  }
  




.bookContainer {
    background-color:rgba(236, 178, 139, 0.769);
   margin-top: 50px;
    border-radius: 20px;
   margin-right: 20px;
    padding: 20px;
    width: 940px;
    box-shadow: 0 20px 10px rgba(0,0,0,0.5);
}

.reserveContainer {
    background-color:rgba(119, 173, 80, 0.769);
    margin-top: 50px;
    border-radius: 20px; 
    padding: 20px;
    width: 345px;
    box-shadow: 0 20px 10px rgba(0,0,0,0.5);
}
